:root {
    --page-width: 50rem;
}


/* search bar */

.search-container {
    position: sticky;
    top: 0;

    background-color: var(--page-background-color);
    padding-block: 0.2rem;

    text-align: center;
}

#search-bar {
    margin: 0;
}

/* search results */

#search-results {
    --grid-size: 9rem;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--grid-size));
    gap: 0.3rem;
    justify-items: center;
    justify-content: center;
}

.pony-card {
    background-color: white;

    width: var(--grid-size, 10rem);
    height: calc(var(--grid-size, 10rem) * (4 / 3));
    aspect-ratio: 3 / 4;

    border-radius: 0.8rem;
    box-shadow: inset 0px -1px 4px hsl(211, 30%, 80%);

    cursor: pointer;
    container-type: inline-size;
    text-decoration: none;
}

.pony-card .pony-name {
    font-size: 10cqw;
    word-break: break-word;

    color: white;
    text-align: center;
    display: grid;
    align-items: center;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(var(--pink-light), var(--pink));
    box-shadow: 0px 1px 0px 1px var(--pink-dark);
    
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.pony-card .pony-card-body {
    width: 100%;
    height: 100%;
}

.pony-card .pony-image {
    width: 100%;
    height: 80%;
    object-fit: contain;
    object-position: center;
    padding: 1rem;
}

/* pony profile */

#pony-profile {
    display: none; /* set to block in js */
}


/* start */

.stars {
    display: flex;
    gap: 0.5rem;
}

.star {
    background-color: #8A2D48;
    width: 1rem;
    aspect-ratio: 1 / 1;

    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

    position: relative;

    border: none;
}

.star::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF53A;
}

.star[data-filled="0"]::after {
    display: none;
}
