
#game-bar {
    position: sticky;
    top: 0;
    background-color: var(--page-background-color);
}

#name-input {
    display: block;
    resize: none;
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    font-family: var(--font-family);
    color: var(--blue);

    border: var(--pink-enabled) 2px solid;
    background-color: rgba(252, 252, 252, 0.7);

    text-wrap: nowrap;
    scrollbar-width: none;

    padding: 0.2em;

    margin: 0;
}

#name-input:focus {
    outline: none;
    border-color: var(--pink);
}

#name-input:disabled {
    background-color: rgba(252, 252, 252, 0.4);
    border-color: var(--pink-disabled);
}

#name-input::placeholder {
    color: hsl(0, 0%, 70%);
}

#name-input:focus::placeholder {
    color: hsl(0, 0%, 60%);
}

#name-input:disabled::placeholder {
    color: hsl(0, 0%, 80%);
}

#start:disabled {
    display: none;
}

#stop:disabled {
    display: none;
}

#game {
    display: flex;
    flex-direction: column;
    min-height: calc(100dvh - 0.5rem);
}

#ponies-list-container {

    /* background-color: red; */
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}

#ponies-list {
    --bottom-sticky: 65px; /* later set in js */

    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    /* background-color: pink; */
    gap: 0.2em;
    margin-block: 0.3rem;
}

#game:has(#stop:disabled) #ponies-list {
    flex-direction: column;
}

.pony-name {
    color: var(--pink);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}

.pony-name .name-image {
    width: 2rem;
    height: 2rem;
    aspect-ratio: 1 / 1;
}

@media (max-width: 600px) {
    #game {    
        flex-direction: column-reverse;
        min-height: 100dvh;
    }

    #game-bar {
        top: unset;
        bottom: 0;
        padding-bottom: 0.5rem;
        z-index: 1;
    }

    #game:has(#stop:disabled) {
        min-height: auto;
        flex-direction: column;
        margin-bottom: 0;
    }

    main:has(#start:disabled) {
        margin-bottom: 0;
    }

    #ponies-list {
        flex-direction: column;
        position: sticky;
        bottom: var(--bottom-sticky);
    }

    #ponies-list-container {
        flex-direction: column-reverse;
    }
}
